.sessions {
	display: flex;
	flex-flow: row nowrap;
	flex: 1;
	max-height: 100%;
	padding: 0.5rem 0;
	align-items: stretch;

	> * {
		flex: 1 1 0;
		margin: 0 0.5rem;
		display: inline-flex;
		flex-flow: column nowrap;
		justify-content: stretch;
	}
}
