@import "~styles/variables.scss";

.settings {
	h1, h2 {
		margin-top: 0.75rem;
		margin-bottom: 0.5rem !important;
	}

	> label {
		margin-bottom: .5rem;
		input {
			margin-right: 0.25em;
		}
	}

	.filters {
		margin-top: 1rem;

		input {
			border: 1px solid $border-color;
			color: #EC7F6E; 
			background-color: $bg-color-2;

			&:hover {
				z-index: inherit;
			}
		}

		.field:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
}