@import "~styles/variables.scss";

.settings {
	h1, h2 {
		margin-top: 0.5em;

		&:not(:last-child) {
			margin-bottom: 0.25em;
		}

		& + .subtitle {
			font-size: 0.8em;
			margin-top: -0.25rem !important;
			margin-bottom: 1rem;
		}
	}

	> label {
		margin-bottom: .5rem;
		display: flex;
		align-items: baseline;
		input {
			margin-right: 0.25rem;
			width: auto;
		}
	}

	.filters {
		margin-top: 1rem;

		input {
			border: 1px solid $border-color;
			color: #EC7F6E;
			background-color: $bg-color-2;

			&:hover {
				z-index: inherit;
			}
		}

		.field:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	.gh {
		text-decoration: underline;
		float: right;
	}

	hr + * {
		margin-right: 0.5em;
	}
}
