<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link async rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	</head>
	<body>
		<div id="root"></div>
		<script>
			if (process.env.NODE_ENV === 'development') {
				const path = require('path')
				require(path.resolve('app','renderer.js'))
			} else {
				require('./renderer.js')
			}
		</script>
	</body>
</html>
