@import "~styles/variables.scss";

header {
	grid-area: nav;
	border-bottom: 1px solid #474a4f;

	nav {
		height: 100%;
		grid-column: 2 / 3;

		ul {
			height: 100%;
			list-style: none;
			padding: 0;
			display: flex;
			flex-flow: row wrap;
			align-items: center;

			.settings {
				margin-left: auto;
			}

			li {
				display: inline-block;
				margin-right: 0.5rem;

				input[type="number"] {
					width: 6rem;
				}
			}
		}

	}

	@include tablet{
		grid-template-columns: 0 100% 0;
	}
}
