@import "~styles/variables.scss";

$border-radius: 10px;

.session {
	color: $main-color;
	.chatbox {
		border-radius: $border-radius;
		background-color: #36393f;
		margin-top: 0.75em;
		padding: 0.25em 0.5em;
		color: inherit;
		outline: none;
		border: 1px solid #474a4f;
	}

	.properties {
		margin-bottom: 0.5em;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: baseline;
	}

	.is-grouped > * {
		margin-left: 0.5em;
	}

	&.disconnected {
		.device-name::after {
			content: '(Disconnected)';
			margin-left: 0.25em;
			color: transparentize($main-color, 0.4);
		}
		.chatbox {
			cursor: not-allowed;
		}
	}
}

.messages {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
	list-style: none;
	overflow-y: scroll;
	border-radius: $border-radius;
	background-color: #36393f;
	padding: 0.25em 0.5em 0.25em;

	li {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		line-height: 1em;
		padding: 0.25em 0;
		&:hover {
			background-color: shade(255, 10%);
		}

		&:not(:last-child) {
			border-bottom: 1px solid #474a4f;
		}
	}

	.timestamp {
		font-family: 'Consolas', monospace;
		font-size: 0.8em;
		color: shade(245, 40%);
		margin-right: 0.5em;
	}

	.content {
		white-space: pre-wrap;
	}

	&::-webkit-scrollbar {
		$shadow: inset 0 0 6px rgba(0,0,0,.2);
		width: 12px;

		&-thumb {
			border-radius: $border-radius;
			border: 3px solid #36393f;
			background-color: #202225;
		}

		&-track {
			box-shadow: $shadow;
			border: 3px solid #36393f;
			border-radius: $border-radius;
			&:hover {
				background-color: $background-color;
			}
		}
	}
}
