$header-height: 3.5rem;
$max-width: 60rem;
$grid-columns: auto $max-width auto;
$main-color: #ddd;
$background-color: #2f3136;
$bg-color-2: #36393f;
$border-color: #474a4f;

$color-main: #108EE9;

@mixin tablet {
	@media (max-width: $max-width) {
		@content;
	}
}

@function shade($brightness, $alpha: 100%) {
	@return rgba($brightness, $brightness, $brightness, $alpha / 100);
}

// Bulma overrides
$text: $main-color;
$label-color: $text;
$title-color: $text;
$input-hover-color: #fff;

$input-color: $background-color;