@header-height: 70px;
@max-width: 60rem;
@grid-columns: auto @max-width auto;
@main-color: #ddd;
@background-color: #333;

@color-main: #108EE9;

.tablet(@rules) {
	@media (max-width: @max-width) {
		@rules();
	}
}
