$header-height: 3.5rem;
$max-width: 60rem;
$grid-columns: auto $max-width auto;
$main-color: #ddd;
$background-color: #2f3136;
$bg-color-2: #36393f;
$border-color: #474a4f;

$color-main: #108EE9;

@mixin tablet {
	@media (max-width: $max-width) {
		@content;
	}
}

@function shade($brightness, $alpha: 100%) {
	@return rgba($brightness, $brightness, $brightness, $alpha / 100);
}

// Bulma overrides
$text: $main-color;
$text-strong: lighten($text, 20%);
$subtitle-color: darken($text, 20%);
$label-color: $text;
$title-color: $text;
$input-hover-color: #fff;

$input-color: $background-color;

@mixin scrollbar {
	&::-webkit-scrollbar {
		$shadow: inset 0 0 6px rgba(0,0,0,.2);
		width: 12px;

		&-thumb {
			border-radius: $border-radius;
			border: 3px solid $bg-color-2;
			background-color: #202225;
		}

		&-track {
			box-shadow: $shadow;
			border: 3px solid $bg-color-2;
			border-radius: $border-radius;
			&:hover {
				background-color: $background-color;
			}
		}
	}
}